<div class="page-content">
	<style type="text/css">
		.tig-box {
			margin: .15rem auto;
			border: 1px #ddd solid;
			width: 94.67%;
		}
		.tig-title {
			font-size: .15rem;
			color: #929292;
			padding: .075rem .15rem;
			border-bottom: 1px #ddd solid;
		}
		.tig-teacher-pic {
			width: .55rem;
			height: .55rem;
			border-radius: 50%;
		}
		.tig-flex {
			padding: .15rem 0;
			text-align: center;
		}
		.tig-new-teacher {
			padding: .15rem 0 .15rem 1rem;
			position: relative;
		}
		.tig-newteacher-pic {
			position: absolute;
			left: .15rem;
		}
		.tig-teacher-name {
			font-size: .18rem;
		}
		.tig-it {
			display: inline-block;
			padding: .1rem .15rem;
			background-color: #f5f5f5;
			border-radius: .05rem;
			color: #c9c9c9;
			font-size: .15rem;
			margin-top: .05rem;
		}
		.tig-icon::after {
		    font-family: 'iconfont';
		    content: "\e600";
		    font-size: .25rem;
		    color: #48bbf1;
		    margin: 0 .03rem;
		}
		.tig-diamond::after {
			font-family: 'iconfont';
		    content: "\e600";
		    font-size: .15rem;
		    color: #48bbf1;
		}
		.tig-btn {
			background-color: #48bbf1;
			border: 1px #48bbf1 solid;
			color: #fff;
		}
	</style>
	<div class="tig-box">
		<div class="tig-title">
			和我有关
		</div>
		<div class="flex-wrap">
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" />
				张一山
				<span class="tig-diamond"></span>    <!--是否显示钻石-->
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
		</div>
	</div>
	<div class="tig-box">
		<div class="tig-title">
			为你推荐
		</div>
		<div class="flex-wrap">
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
			<div class="flex tig-flex">
				<img class="tig-teacher-pic" src="/webapp/asset/src/img/teacher.png" alt="导师图片" /><br />
				张一山
			</div>
		</div>
	</div>
	<div class="tig-box">
		<div class="tig-title">
				最新导师
		</div>
		<div class="tig-new-teacher">
			<img class="tig-teacher-pic tig-newteacher-pic vertical-center" src="/webapp/asset/src/img/teacher.png" alt="导师图片" />
			<div class="tig-newteacher-intro">
				<span class="tig-teacher-name">方兴嘉</span>
				<span class="tig-icon"></span>
				<span class="gray9">市场总监</span>
			</div>
			<div class="tig-it">
				IT领域
			</div>
		</div>
	</div>
</div>
<div class="page-bottom">
	<div class="fixed-bottom-white-bg">
		<button class="btn btn-block tig-btn">更多导师</button>
	</div>
</div>
